
#griot ul {
    list-style-type: none;
    margin: 0px;
    padding:0px;
    overflow: hidden;
    background-color: black;
    color: white;

}
  
#griot li {
    float: left;
    color: white;
    text-align: center;
    padding: 20px;
    margin-left: 50px;
    text-decoration: none;
    background-color:black;
}

.feature{
    text-align:center;
    position: relative;
    color:white;
    
}

.opening{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 90px;

}
.april{
    background-color:lightgray;
    color:black;
    font-size: 10px;
    text-align: center;
}


#schedule{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    max-width: auto;
    margin: 0;
    align-content: center;
    justify-items: center;
    grid-template-areas:
    "main1 main2 main3"
    "main1 main2 main3"
    "main1 main2 main3"
}
#schedule > img {
    grid-template-columns: 1;
    grid-template-rows: 1/3;
    align: center;
    grid-area: main1;
}
#schedule > p {
    grid-template-columns: 2;
    grid-template-rows: 1/3;
    align: center;
}
#schedule > a {
    grid-template-columns: 3;
    grid-template-rows: 1/3;
    top:50%;
    bottom: 50%;
}


#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 0px;
    max-width: 960px;
    margin: 0;
    background-color: black;
    color:white;
}

.map{
    grid-column: 1;
}
.info{
    grid-column: 2;
    grid-row: 1;

}
.shows{
    grid-column: 3;
    grid-row: 1;
}
.social{
    grid-column: 4;
    grid-row: 1;
}



